{% extends "base.html" %}

{% block head %}<title>Known Words | DuoVocab</title>{% endblock %}

{% block page_content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% load custom_tags %}
        {% if duo_user != None %}
            {% if lang_selection == None %}
                <div style="margin-top: 10%">
                    <div class="d-flex justify-content-center align-items-center">
                        <h1 class="display-4">Please select your language</h1>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="margin-top: 3%">
                        {% for language in duo_user.languages %}
                            <button class="btn btn-outline-dark btn-lg" type="submit" name="lang_selection_btn"
                                    value="{{ language }}" style="margin-left:1%;">{{ language }}</button>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                {% if duo_user.known_words|get_words:lang_selection|length != 1 %}
                    <div class="d-flex justify-content-center align-items-center" style="margin-top: 2%">
                        <button class="btn btn-outline-dark btn-lg" type="submit" name="random_study_btn"
                                value="{{ lang_selection }}">Random Study
                        </button>
                    </div>
                {% endif %}
                <div class="d-flex justify-content-center align-items-center" style="margin-top: 2%">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center h5">
                                {{ duo_user.known_words|get_words:lang_selection|length }} Words
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="text-align: center; overflow: auto;
                                height: 550px; width: 800px;">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th><b>#</b></th>
                                        <th style="text-align: left">
                                            <span class="icon"><i class="fas fa-i-cursor"></i></span> Words
                                        </th>
                                        <th><span class="icon"><i class="fas fa-cogs"></i></span> Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for word in duo_user.known_words|get_words:lang_selection %}
                                        <tr>
                                            <td style="width: 5%"><b>{{ forloop.counter }}</b></td>
                                            <td style="text-align: left">{{ word }}</td>
                                            <td>
                                                <button class="btn btn-outline-dark btn-sm has-tooltip-bottom"
                                                        name="remove_key" value="{{ word }}" data-tooltip="Remove">
                                                    <span class="icon"><i class="fas fa-trash"></i></span>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="d-flex justify-content-center align-items-center" style="margin-top: 10%">
                <h1 class="display-6">Please Login to your <b>Duolingo</b> account on <a href="/profile">Profile</a>page.
                </h1>
            </div>
        {% endif %}
    </form>
{% endblock %}